#dog-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: rgb(97, 5, 62);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: rgb(178, 207, 36);
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  